body {
    font-size: 1.0rem; font-family: 'Amazon Ember', 'Tahoma'
}

h1 {
    font-family: 'Amazon Ember', Tahoma;font-size: 1.3rem; font-weight:bold; margin-top: 2rem;
}

p {
    width: 50rem; text-align: justify; margin-top: 1.4rem; margin-bottom: 1.4rem;
}

div.code {
    width: 50rem; font-size: 0.8rem; font-family: Consolas; padding:2rem; background-color: #232F3E; color: #1feb1f; margin-top:0.5rem; margin-bottom: 0.5rem;
    margin-top: 10px; margin-bottom: 10px; border: solid 2px #eb821f;
}

div.footer {
    font-size: 0.7rem; text-align: center; width:100%; background-color: #232F3E; color: #ffffff; height:4rem; line-height:4rem; margin:0rem; padding:0rem;
}

.mediumImages {
    width: 700px;
    margin-top: 10px; margin-bottom: 10px; border: solid 2px #eb821f;
}

.tallImage {
    height: 700px;
    margin-top: 10px; margin-bottom: 10px; border: solid 2px #eb821f;
}